.priceBadge {
    position: absolute;
}

.shopCartIconDiv {
    background: #ffc532;
    border-radius: 3rem;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    margin-bottom: 10px;
    z-index: 2;
    width: 80px;
}

.shopCartSpan1 {
    font-size: 20px;
    border-radius: 3rem;
    float: left;
}

.shopCartSpan2 {
    float: right;
    background-color: #fff;
    color: #000;
    border-radius: 3rem;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
}